body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

#cesiumContainer {
    height: 600px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
    border-radius: 20px;
}

.btn {
    border-radius: 20px;
}

#image-display img, .img-thumbnail {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* New styles for image containers to fix size and prevent band mixing */
#image-display .row > div {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#image-display img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#history-list {
    max-height: 400px;
    overflow-y: auto;
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.position-fixed {
    z-index: 1000;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.position-fixed:hover {
    background-color: #5a6268;
}

.logo {
    width: 150px;
    height: auto;
}

.info.legend {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
