 
# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Data
data/integrated_images/
data/preprocessed_images/
data/bhuvan_images/
data/mosdac_images/
data/nasa_earthdata_images/

# Models
models/

# Node
node_modules/

# Logs
logs/
*.log

# Docker
docker-compose.override.yml

# IDEs
.vscode/
.idea/